<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="images and links to work">
    <meta name="author" content="Tessa Reed">
    <title>Work</title>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/thumbnail-gallery.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Chivo" rel="stylesheet">
</head>

<body>
<div class="container">
<h1 class="my-4 text-center text-lg-left">Film</h1>
</div>
<div class ="bg-pink">

  <div class="container">
    <h6> The Walt Disney Company </h6>
    <p> During my time working at the Walt Disney Company I was given the opportunity to create a promo for Disney Junior. I chose the clips, edited the film, wrote the script and recorded the voice over for Sofia The First on Disney Junior.
    <%= link_to 'Link to Film', 'https://vimeo.com/199235938' %> </p>
     <%= image_tag "sofia.png", class: "col-lg-3 col-md-4 col-xs-6" %>
   </div>
    <br>
    <div class="container">
      <h6>'You're not just asking for money': An Anthropological Exploration into Crowdfunding.</h6>
      <p>  I wrote my Dissertation on the tactics and social networks used to Crowdfund. One of the ways to discover these, I attempted to raise £500 pounds by selling honey over the crowdfunding platform Indiegogo. Please email me for a copy of my dissertation.
      <%= link_to 'Link to Film.', 'https://vimeo.com/140304705' %> </p>
       <%= image_tag "diss.png", class: "col-lg-3 col-md-4 col-xs-6" %>
    </div>
    <br>
  <div class="container">
    <h6> Tracing Paper </h6>
    <p> My anthropological interest lies in human behavior, relationships and communication. These topics are a central theme in Tracing Paper. As a director I wanted to use the anthropological method of ‘fieldwork’ to create a scenario to show how people can connect in different ways.
      I aimed for Tracing Paper to explore the theme of communication and compassion between complete strangers.
      The film creates and reveals an intimate interaction between six individuals, which is translated into works of art. Meghna shares an account of personal experience of trauma to five artists. The artists attempt to portray her experience and emotions.
      I am drawn to the connection between Meghna and the artist’s and interested in art and how it can tell a story. I want to portray how a connection can be made visual; her personal experience is translated into five pieces of art created throughout the film. The film shows how one account can be interpreted into five varying pieces of art.
    <%= link_to 'Link to Film.', 'https://vimeo.com/141514108' %> </p>
     <%= image_tag "tracingpaper.png", class: "col-lg-3 col-md-4 col-xs-6" %>
  </div>
  <br>
  <div class="container">
    <h6> Edinburgh Charity Fashion Show, 2015. </h6>
    <p>A video for the Edinburgh Charity Fashion Show website, 2015.
    <%= link_to 'Link to Film.', 'https://vimeo.com/141513045' %> </p>
     <%= image_tag "edinburgh.png", class: "col-lg-3 col-md-4 col-xs-6" %>
  </div>
  <br>
  <div class="container">
    <h6> IPA Scottish Awards, 'What does the world need now?'</h6>
    <p>What does the world need now?

The concept behind this film is the world is like a child, it needs to be looked after by all. Made for the IPA Scottish Advertising Awards.
    <%= link_to 'Link to Film.', 'https://vimeo.com/161014365' %> </p>
     <%= image_tag "ipa.png", class: "col-lg-3 col-md-4 col-xs-6" %>
  </div>

    <div id="cta">
      <div class="wrapper">
          <h3>Heard Enough?</h3>
          <p>Get in touch with me, that would be fab.</p>
          <a href="/home/contact" class="button-2">Contact Me!</a>
      </div>
    </div>
</div>

</body>
